@{
    ViewBag.Title = "Configuracion";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-tachometer-alt"></i>Configuracion
    </div>
    <div class="card-body">
        <ul class="list-unstyled navbar__sub-list js-sub-list">
            <li>
                <a href="/Settings/Roles">Roles</a>
            </li>
            <li>
                <a href="/Settings/Users/">Usuarios</a>
            </li>
            <li>
                <a href="/Settings/Monedas/">Monedas</a>
            </li>
            <li>
                <a href="/Settings/AjusteEfectivo/">Ajustes de Efectivo</a>
            </li>
        </ul>
    </div>
</div>


