<li class="has-sub @(Url.RouteUrl(ViewContext.RouteData.Values) == "/Efectivo" ? "active" : "")">
    <a class="js-arrow" href="#">
        <i class="fas fa-tachometer-alt"></i>Efectivo
    </a>
    <ul class="list-unstyled navbar__sub-list js-sub-list">
        <li>
            <a href="/efectivo/reportes">Reportes</a>
        </li>
        <li>
            <a href="/efectivo/cierre">Cierre Caja</a>
        </li>
        <li>
            <a href="/efectivo/movimiento">Movimientos</a>
        </li>
    </ul>
</li>
<li class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/citas" ? "active" : "")">
    <a href="/Citas">
        <i class="fas fa-chart-bar"></i>Citas
    </a>
</li>
<li class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/contact" ? "active" : "")">
    <a href="/contact">
        <i class="far fa-check-square"></i>Contactos
    </a>
</li>
@if (this.User.IsInRole("Admin"))
{
    <li class="has-sub @(Url.RouteUrl(ViewContext.RouteData.Values) == "/Settings" ? "active" : "")">
        <a class="js-arrow" href="#">
            <i class="fas fa-tachometer-alt"></i>Configuracion
        </a>
        <ul class="list-unstyled navbar__sub-list js-sub-list">
            <li>
                <a href="/Settings/Roles">Roles</a>
            </li>
            <li>
                <a href="/Settings/Users">Usuarios</a>
            </li>
        </ul>
    </li>
}
