<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="~/Images/petshop.png" class="figure-img" style="max-width:50%" alt="Logo">
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                @Html.Partial("_ListMenu")
            </ul>
        </nav>
    </div>
</aside>
